/* write your override styles here */
#wall .tag-1 {
  display: none;
}

.tag-1 {
  display: none;
}

#tag-2 {
  display: none;
}

#tag-3 {
  display: none;
}

#tag-4 {
  display: none;
}

#tag-5 {
  display: none;
}

#tag-6, #tag-7 {
  display: none;
}

/* Now the wall is clear and there are enough kilobits to pass the test*/